<div class="span3">

  <div class="page-header">
    <h1>Yonetim</h1>
  </div>

  <div style="padding: 8px 0;" class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Menu</li>
      <li class="active"><a href="#"><i class="icon-white icon-home"></i> Borclar</a></li>
      <li><a href="#"><i class="icon-book"></i> Alacaklar</a></li>
      <li><a href="#"><i class="icon-pencil"></i> Ayarlar</a></li>
    </ul>
  </div>

  <a href="#" class="btn btn-success"><i class="icon-plus icon-white"></i> Borc Ekle</a>

</div>