<%= content_for(:search) do %>
    <form action="" class="navbar-search pull-left">
      <input type="text" placeholder="Ara" class="search-query span2">
    </form>
<% end %>

<div class="row">
  <div class="span2">
    <%= render 'admin/shared/sidebar' %>
  </div>
  <div class="span9">

    <div class="page-header">
      <h1>Alacaklarim </h1>
    </div>

    <%= render 'admin/transactions/list' %>
  </div>

</div>